*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* Nav Styling */
#nav{
    display: flex;
    justify-content: center;
    gap: calc(20px + 2vw);
    margin: 10px;


    width: 100vw;
}

button{
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

/* Home Styling */

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-img{
    display: block;
    margin: 10px;

    flex: 0 0 auto;
    width: 500px;
    height: auto;
}

#hours{
    text-align: center;
    margin: 10px;
    
    border: 2px solid black;

    width: 500px;
    font-size: calc(12px + 1vw);
}

#home-header, #contact-header, #menu-header{
    font-size: 40px;
    margin: 10px;
    text-align: center;
}

ul{
    list-style-type: none;
}




/* Menu Styling */
#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-img{
    display: block;
    width: 300px;
    height: 200px;
}

#appetizers h2, #entrees h2{
    text-align: center;
}

#appetizers, #entrees{
    margin-top: 10px;
    width: 650px;
}

.item-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.list-item{

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    

    padding: 10px;

    height: 300px;
    width: 300px;
}

.list-item p{
    margin-top: 10px;
}

/* Contact Styling */

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts{
    text-align: center;
    margin: 10px;
    
    border: 2px solid black;

    width: 500px;
    font-size: calc(12px + 1vw);
}

#contacts li{
    margin: 10px;
}

#newsletter{
    display: flex;
    justify-content: space-between;

    padding: 20px;

    border: 2px solid black;

    width: 500px;
}

